<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css" typr="text/css">
</head>
<body>
    <% if(erros) 
    {%>
    <ul>
        <% for(let i=0; i < erros.length; i++) 
        {%>
            <li>
                <%= erros[i].msg %>
            </li>
        <%}%>
    </ul>
    <%}%>
    <main>
        <form action="usuario/alterar_senha" method="post">
        <label for="senha">Senha</label>
        <br>
        <input type="password" name="senha" id="senha" value="<% usuario[0].senha %>">
        <br>
        <label for="confirmar_senha">Confirmar senha</label>
        <br>
        <input type="password" name="confirmar_senha" id="confirmar_senha" value="<% usuario[0].confirmar_senha %>">
        
        </form>


    </main>
</body>
</html>